In [17]:
import pandas as pd
import numpy as np

In [37]:
def get_genre_stats(genre_name):
    df = pd.read_csv(f'Action_movies/{genre_name}.csv')
    df = df.dropna().drop_duplicates()  # Clean data  

    mean_rating = np.mean(df['rating'])  
    median_rating = np.median(df['rating'])  
    std_dev = np.std(df['rating'])  

    return mean_rating, median_rating, std_dev  

genres = ['Action']

data = [(genre, *get_genre_stats(genre)) for genre in genres]

rating_dataframe = pd.DataFrame(data, columns=['Genre', 'Mean Rating', 'Median Rating', 'Std Dev'])
rating_dataframe.sort_values(by='Mean Rating', ascending=False, inplace=True)  # Rank genres  

rating_dataframe

    Genre  Mean Rating  Median Rating  Std Dev
0  Action        7.705           7.75  0.57208

In [31]:
def get_top_10_ratings(genre):  
    df = pd.read_csv(f'1_movies_per_genre/{genre}.csv')  
    df = df.drop_duplicates().dropna()  # Ensure clean data  
    top_10_movies = df.nlargest(10, 'rating')[['name', 'rating']]  # Direct Pandas operation  
    return top_10_movies 


get_top_10_ratings('Action')

                                                 name  rating
0                                     The Dark Knight     9.0
1                                           Inception     8.8
3   The Lord of the Rings: The Fellowship of the Ring     8.8
2                                          The Matrix     8.7
9      Star Wars: Episode V - The Empire Strikes Back     8.7
8                  Star Wars: Episode IV - A New Hope     8.6
5                                           Gladiator     8.5
13                             Léon: The Professional     8.5
16                         Terminator 2: Judgment Day     8.5
4                               The Dark Knight Rises     8.4